<div > 
	<ul>
		<div> 
			<div class="capt"> 
				<h2 type="text" id="mainCaptcha">{{captchaCode}}</h2>
				<p>
					<input type="button" (click)="captcha()" value="{{'Refresh Captcha@' + leng | translate}}"/>
				</p> 

				<li>
					<input type="text"  name="captchaInput" [(ngModel)]="userCaptchaInput" />    
				</li>         

				<button id="Button1"  (click)="validCaptcha()"> {{"Check@"+leng | translate}} </button>
				<input *ngIf="usuario != null && usuario != undefined && usuario.rol == 'Profesional'" id="Button1" type="button" value="Deshabilitar" (click)="deactivateCaptcha()"/>
				
				
			</div>
		</div>
	</ul>
</div>