<div class="card mb-4 shadow-sm">
	<div class="card-header">
		<h4 class="my-0 font-weight-normal">Modificar Usuario</h4>
		<form class="form-style-7">
			<ul>

				<li>
					<label for="name"> Es medico? </label>
					<input type="radio" id="pregunta1" name="pregunta1" value="Si" [(ngModel)]="usuario.medico">
					Soy medico
					<input type="radio" id="pregunta2" name="pregunta2" value="false" [(ngModel)]="usuario.medico">
					Soy paciente
				</li>

				<li *ngIf="usuarioLoggeado.rol == 'admin' && usuario.medico">
					<label for="name"> Confirmacion </label>

					<input type="radio" id="pregunta3" name="pregunta3" value="true" [(ngModel)]="usuario.isActivated">
					Es medico.
					<input type="radio" id="pregunta4" name="pregunta4" value="false" [(ngModel)]="usuario.isActivated">
					No es medico.

					<span style="color:red"> Confirmacion </span>

				</li>

				<li>
					<label for="name"> Apellido </label>
					<input type="text" name="apellido" [(ngModel)]="usuario.apellido">
					<span>Apellido</span>
				</li>

				<li>
					<label for="name"> Nombre </label>
					<input type="text" name="nombre"  [(ngModel)]="usuario.nombre">
					<span>Nombre</span>
				</li>

				<li *ngIf="whenScreenLoadsDocumento != null">
					<label for="Documento">Documento</label>
					<input type="text" name="documento" [(ngModel)]="usuario.documento" readonly>
					<span>Documento</span>
				</li>

				<li *ngIf="whenScreenLoadsDocumento == null">
					<label for="Documento2">Documento</label>
					<input type="text" name="Documento2" [(ngModel)]="usuario.documento">
					<span>Documento</span>
				</li>

				<li *ngIf="usuario.rol == 'Profesional'">
					<label for="tipo">Especialidad</label>
					<select id="cars" name="Especialidad" [(ngModel)]="usuario.especialista">
						<option value="{{p}}" *ngFor="let p of especialistas">{{p}}</option>
					</select>
				</li>

				<li>
					<label for="url">email</label>
					<textarea name="url" maxlength="280"  [(ngModel)]="usuario.email" readonly> </textarea>
					<span>email</span>
				</li>

				<li *ngIf="usuarioLoggeado.rol == 'admin'">
					<label for="rol">Rol</label>
					<select id="rol" name="rol" [(ngModel)]="usuario.rol">
						<option value="{{rol}}" *ngFor="let rol of roles">{{rol}}</option>
					</select>
				</li>

				<div id="weekdaysSelectedValues" [hidden]="usuario.rol !== 'Profesional'">
					<ul class="weekdays-list">
						<li data-day="0" id="weekday-Dom" class="weekdays-day " (click)="select($event)">Dom</li>
						<li data-day="1" id="weekday-Lun" class="weekdays-day " (click)="select($event)">Lun</li>
						<li data-day="2" id="weekday-Mar" class="weekdays-day " (click)="select($event)">Mar</li>
						<li data-day="3" id="weekday-Mie" class="weekdays-day " (click)="select($event)">Mie</li>
						<li data-day="4" id="weekday-Jue" class="weekdays-day " (click)="select($event)">Jue</li>
						<li data-day="5" id="weekday-Vie" class="weekdays-day " (click)="select($event)">Vie</li>
						<li data-day="6" id="weekday-Sab" class="weekdays-day " (click)="select($event)">Sab</li>
					</ul>
				</div>

				<li *ngIf="usuario.rol == 'Profesional'">
					<label for="tipo">Horario de trabajo</label>

					<select id="cars" name="horarioDesde" [(ngModel)]="usuario.horarioDesde">
						<option value="{{p}}" *ngFor="let p of horarios">{{p}}</option>
					</select>
					<br> 
					<select id="cars" name="horarioHasta" [(ngModel)]="usuario.horarioHasta">
						<option value="{{p}}" *ngFor="let p of horarios">{{p}}</option>
					</select>
				</li>

				<!--span>No hay presupuesto para spinner, primero dar de alta la pelicula y despues seleccionar el turno (darle unos segundos por las llamadas a BD)</!--span-->
				<li>
					<button type="button" class="btn btn-lg btn-block btn-primary" (click)="guardar()">Gurdar</button>
				</li>
			</ul>
		</form>
	</div>

	<div> 
		
	</div>