<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

</head>


<div class="card mb-4 shadow-sm">
	<div class="card-header">
		<h4 class="my-0 font-weight-normal">Alta de Turno</h4>
		<form class="form-style-7">
			<ul>
				<li>
					<label for="name"> Paciente </label>
					<input type="text" name="name" value="{{turno.nombre}}" disabled readonly>
					<span>Nombre del paciente</span>
				</li>
				<li>
					<label for="name">Documento</label>
					<input type="text" name="name" [(ngModel)]="turno.documento" disabled readonly>
					<span>Documento</span>
				</li>

				<li>
					<label for="url">Descripcion</label>
					<textarea name="url" maxlength="280" [(ngModel)]="turno.descripcion"> </textarea>
					<span>Descripcion</span>
				</li>

				<li>
					<label for="tipo">Especialista</label>
					<br>
					<button *ngFor="let p of especialistas" class="btn btn-success" (click)="selectEspecialidad(p.nombre)">
						{{p.nombre}} </button>
				</li>

				<!--li>

					<label for="url">Fecha de turno</label>
					<input type="date" min="2021-02-11" max="2021-02-26" name="url" maxlength="100"
						[(ngModel)]="turno.fecha" (change)="getTiming()" >

					<p [appDirectiva] = "turno.fecha" > {{turno.fecha}}</p>

					<span>fecha de turno</span>
				</li-->

				<div *ngIf="turnoHorarios != null && turnoHorarios !== undefined && listaHorarios != null && listaHorarios != undefined">
					<div *ngFor="let key of listaHorarios">
						<p> Turno para el dia: {{key | datePipe}} </p>
						
						<div *ngIf="turnoHorarios.get(key) != null">
							<div *ngFor="let doctor of turnoHorarios.get(key)">
								<p [appDirectiva]="doctor"> Doctor: {{doctor.nombre}}, {{doctor.apellido}}</p>
								<!--[appIsTurnoTaken]="key + '@' + hour + '@' + doctor.documento"-->
								<button *ngFor="let hour of doctor.hoursTime"  class="btn btn-success" (click)="saveTime(doctor, hour)">
									{{hour}} </button>
							</div>
						</div>
						<br>
					</div>
				</div>

				<!--
					<div *ngIf="users != null && users !== undefined">
						<div *ngFor="let user of users">
							<p> Doctor: {{user.nombre}}</p>
							<div *ngIf="user.rol == 'Profesional'">
								<button *ngFor="let hour of user.hoursTime" class="btn btn-success" (click)="saveTime(user, hour)">
									{{hour}} </button>
							</div>
							<br>
						</div>
					</div>
				-->
				
				<button class="btn btn-success" (click)=next()>
					Siguiente semana </button>
				<ul>
					<app-captcha-component (captchaResult)="captchaResults($event)"> </app-captcha-component>
				</ul>
				<ul>
					<li *ngIf="isCaptchaValid">
						<button type="button" class="btn btn-lg btn-blopck btn-primary" (click)="crear()">Alta</button>
					</li>
				</ul>
			</ul>
		</form>
	</div>

	<div>

	</div>