<!--div style="margin: 20% auto; width: 30%;">
  <div class="row">
    <div class="col-lg-6">
      Usuario
    </div>
    <div class="col-lg-6">
      <input type="text"  [(ngModel)]="usuario">
    </div>
  </div>
  <div class="row" style="margin-top: 5px">
    <div class="col-lg-6">
      Clave
    </div>
    <div class="col-lg-6">
      <input type="password" [(ngModel)]="clave">
    </div>
  </div>
  <div class="row" style="text-align: center; margin-top: 10px">
    <div class="col-lg-12">
      <button (click)="Entrar()" class="btn btn-info btn-lg" >Entrar</button>
    </div>
  </div>
</div-->
<!--div class="container" >
  <div class="jumbotron" style="padding:50px;">
    <form action="Entrar()">
      <div class="imgcontainer">
        <img src="../assets/imagenes/login.png" alt="Avatar" class="avatar" max-width="104" >
      </div>

      <div class="container">
        <label><b appResaltarDos [color]="'yellow'">Usuario</b></label>
        <input type="text" placeholder="Usuario"  [(ngModel)]="usuario"  name="uname" required>

        <label><b>Clave</b></label>
        <input type="password" placeholder="Clave"  [(ngModel)]="clave" name="psw" required>
            
        <button *ngIf="logeando"  (click)="MoverBarraDeProgreso()" >Ingresar</button>
       
        <div *ngIf="!logeando" class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped active" [class]="clase" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [style.width]="ProgresoDeAncho" >
              {{progresoMensaje}} - {{progreso}}%
            </div>
        </div>
       
        <input type="checkbox" checked="checked"> Recordar mis datos
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancelar</button>
        <button type="button" class="aceptbtn" routerLink="/Registro" >Registrarse</button>
        <span class="psw">Te olvidaste <a href="#">la clave?</a></span>
      </div>
     
    </form>
  </div>
</div-->

<!--body>
    <body class="align">
    <div class="grid">
        <form action="Entrar()" method="post" class="form login">
        <header class="login__header">
          <h3 class="login__title">Login</h3>
        </header>
        <div class="login__body">
          <div class="form__field">
            <input type="email" placeholder="Email" [(ngModel)]="usuario">
          </div>
          <div class="form__field">
            <input type="password" placeholder="Password" [(ngModel)]="clave">
          </div>
        </div>
        <footer class="login__footer">
          <input type="submit" value="Login">
        </footer>
      </form>
    </div>
  </body-->
  <script src="https://www.google.com/recaptcha/api.js?render=6LcaBKYZAAAAADVMh2H0co3Qlf2-s216cLUpKAtW"></script>

<form class="login-form">
	<p class="login-text">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-lock fa-stack-1x"></i>
		</span>
	</p>
	<input type="email" class="login-username" autofocus="true" required="true" placeholder="Email" [(ngModel)]="user.email" name="usuario"
	/>
	<input type="password" class="login-password" required="true" placeholder="Password" [(ngModel)]="user.password" name="clave" />
  <input type="submit" name="Login" value="Login" (click)="Entrar()" class="login-submit" />
  <!--input type="number" [(ngModel)]="user.email"-->
  <input type="button" value="Crear Usuario" class="login-submit" (click)="crear()">

  <br>
  <input type="button" value="Administrador" class="login-submit" (click)="setLoginValues('tomy_nfs2@hotmail.com', '123456')">


  <input type="button" value="Cliente 1" class="login-submit" (click)="setLoginValues('asd5@utn.com', '123456')">
  <input type="button" value="Cliente 2" class="login-submit" (click)="setLoginValues('cliente11@utn.com', '123456')">

  

  <input type="button" value="Medico 1" class="login-submit" (click)="setLoginValues('medico1@utn.com', '123456')">
  <input type="button" value="Medico 2" class="login-submit" (click)="setLoginValues('medico2@utn.com', '123456')">
  <input type="button" value="Medico 3" class="login-submit" (click)="setLoginValues('asd6@utn.com', '123456')">
  <input type="button" value="Medico 4" class="login-submit" (click)="setLoginValues('asd4@asd.com', '123456')">
  
  <input type="button" value="Cliente con email verdadero" class="login-submit" (click)="setLoginValues('tomynfs2@gmail.com', '123456')">

  <!-- old =
    <re-captcha class="captcha" (resolved)="resolved($event, '6Lc8X6cZAAAAAMT1NsMdGt6cDbHHAAD5l1b5hopv')" 
  siteKey="6Lc8X6cZAAAAAMT1NsMdGt6cDbHHAAD5l1b5hopv"> 
 -->
  <re-captcha class="captcha" (resolved)="resolved($event, '6LeEgVEaAAAAAEZzWwpHo_QQPr3MrP4Nd8LQrr2X')" 
  siteKey="6LeEgVEaAAAAAEZzWwpHo_QQPr3MrP4Nd8LQrr2X">  
  </re-captcha>

</form>



<!--TESTING CAPTCHA FOR LOCALHOST-->

<!--re-captcha (resolved)="resolved($event, '6LcaBKYZAAAAADVMh2H0co3Qlf2-s216cLUpKAtW')" 
siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI">  
</!--re-captcha>


<!--re-captcha (resolved)="resolved($event, '')"> </!--re-captcha-->


<div class="underlay-photo"></div>
<div class="underlay-black"></div>

<div id="snackbar">{{Mensajes}}</div>